
.contact-card{
    display: block;
    width: 300px;
    height: 80px;
    padding: 10px;
    margin: 10px;
    
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgb(209, 125, 166);
    align-items: center;
}
.name
{
    font-size: 25px;
    display: block;
    margin: 10px;
    text-align: center;
    font-weight: 1000;
}
.mobile{
   
    font-size: 20px;
    display: block;
    margin: 20px;
    
    text-align: center;
    color: rgb(8, 8, 8);
}